@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
  margin: 0;
}
a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid#64b5f6 !important;
  box-shadow: 0 1px 0 0#64b5f6  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid#64b5f6 !important;
  box-shadow: 0 1px 0 0#64b5f6  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}
.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}

.profile-vaala-div{
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
}